* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f7f7;
}

.container {
    height: 100vh;
    width: 95%;
    margin: auto;
    padding: 20px 0px;
    display: flex;
    gap: 50px;
}

.sidebar {
    width: 23%;
    position: relative;
    height: 100%;
}

.logo_container {
    height: 60px;
}

.Logo {
    font-size: 40px;
}

.navigations>h3 {
    font-size: 25px;
}

.navigations nav {
    margin-top: 10px;
}

.navigations .nav-menu {
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.navigations .nav-menu:hover {
    background: linear-gradient(to right bottom, #5FD6DE, #5FD6DE38);
    padding: 10px;
    padding-left: 15px;
    /* Slightly increase padding on hover for a smoother effect */
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.nav-menu img {
    width: 20px;
}

nav .active {
    background: linear-gradient(to right bottom, #5FD6DE, #5FD6DE38);
    padding: 10px;
    border-radius: 10px;
}

.profile-container {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.profile-picture {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-container>div {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 13px;
}

.profile-container button {
    margin-top: 15px;
}

.btn {
    background: linear-gradient(to right bottom, #5FD6DE, #5FD6DE38);
    border: none;
    border-radius: 25px;
    width: 80%;
    margin: auto;
    height: 35px;
    font-size: 18px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

.liveTimer {
    position: fixed;
    background-color: black;
    padding: 10px 20px;
    bottom: 0%;
    right: 0%;
    border-top-left-radius: 25px;
    color: white;
    font-weight: 600;
}


/* Main Container Stats */

.main-content {
    background: linear-gradient(to right bottom, #5FD6DE, #5FD6DE38);
    height: 100%;
    width: 80%;
    border-radius: 50px;
    padding: 20px;
    overflow-y: scroll;
}

.main-content::-webkit-scrollbar {
    display: none;
}

.main-content .health-vitals-container h2 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-left: 15px;
}

#AddHealthVitals {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
}

.health-vitals-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Popup CSS */
.popup-container {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.788);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    z-index: 1000;
}

.popup-container.active {
    visibility: visible;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.popup {
    width: 40%;
    height: fit-content;
    background-color: white;
    border-radius: 25px;
    padding: 30px;
}

.form-controls {
    margin-top: 20px;
    width: 100%;
}

.form-controls input {
    width: 100%;
    height: 40px;
    margin: 10px 0px;
    padding: 0px 10px;
    background-color: #F0F0F0;
    border: none;
    border-radius: 10px;
}

.form-controls textarea {
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #F0F0F0;
    border: none;
    border-radius: 10px;
}

.form-controls button {
    width: 100px;
    padding: 5px 0px;
    background: linear-gradient(10deg, rgba(95, 214, 222, 1) 0%, rgba(95, 214, 222, 0.7931547619047619) 48%);
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
}

.submit-container {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.644);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.submit-container.active {
    visibility: visible;
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

.SubmitPopup {
    width: 50%;
    height: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 25px;
    z-index: 2;
}

.SubmitPopup img {
    width: 100px;
    margin-bottom: 20px;
}

#close {
    position: absolute;
    width: 15px;
    top: 8%;
    right: 5%;
    cursor: pointer;
}

.liveTimer {
    position: fixed;
    background-color: black;
    padding: 10px 20px;
    bottom: 0%;
    right: 0%;
    border-top-left-radius: 25px;
    color: white;
    font-weight: 600;
}

.nav-menu a {
    text-decoration: none;
    color: black;
}

.graph {
    width: 100%;
}

.graph .status {
    width: 50%;
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.graphtop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.graph .status h2 {
    font-size: 20px;
    text-transform: capitalize;
}

/* Mobile Navigatoin */
.mobile-menu-siderbar {
    display: none;
}


@media only screen and (max-width: 1200px) {
    .Logo {
        font-size: 30px;
    }

    .logo_container {
        height: 42px;
    }

    .navigations .nav-menu {
        padding: 10px 15px;
    }

    .navigations .nav-menu {
        font-size: 16px;
    }

    .navigations>h3 {
        font-size: 20px;
    }

    .profile-container>div {
        font-size: 12px;
    }


    @media only screen and (max-width: 992px) {
        .navigations .nav-menu {
            font-size: 17px;
            cursor: pointer;
            padding: 10px;
        }

        .profile-picture {
            width: 40px;
            height: 40px;
        }

        .profile-container h2 {
            font-size: 20px;
        }

        .profile-container>div {
            gap: 10px;
        }

        .name-container p,
        .reff p,
        .timing p,
        .Day p,
        .status p {
            font-size: 14px;
        }

        .name-container h3,
        .reff h3,
        .timing h3,
        .Day h3,
        .status h3 {
            font-size: 15px;
        }

        .btn {
            width: 98%;
            height: 30px;
            font-size: 15px;
        }
    }

    .medical-dosage-container .header-content h2 {
        font-size: 15px;
    }

    .medical-dosage-container .header-content .search input {
        height: 20px;
    }

    .main-content>h2 {
        font-size: 30px;
    }

    .medical-dosage-container {
        margin-top: 25px;
    }

    .medical-dosage-container .header-content button {
        width: fit-content;
        font-size: 12px;
        height: fit-content;
        padding: 5px 10px;
    }

    .navigations .nav-menu {
        font-size: 17px;
        cursor: pointer;
        padding: 10px;
    }

    .profile-picture {
        width: 40px;
        height: 40px;
    }

    .profile-container h2 {
        font-size: 20px;
    }

    .profile-container>div {
        gap: 10px;
    }

    .name-container p,
    .reff p,
    .timing p,
    .Day p,
    .status p {
        font-size: 15px;
    }

    .navigations .nav-menu {
        font-size: 15px;
    }
}

@media only screen and (max-width: 768px) {
    .editbtns {
        display: none;
    }

    .rescheduleIcon {
        display: block;
    }

    .main-content>h2 {
        font-size: 25px;
    }

    .graphtop {
        flex-direction: column;
    }

    .graph .status {
        width: 100%;
        margin: 0px;
        margin-bottom: 20px;
    }

    .medical-dosage-container .header-content .search {
        display: none;
    }

    .reff {
        display: none;
    }

    .name-container h3,
    .timing h3,
    .Day h3,
    .status h3 {
        font-size: 16px;
    }

    .medical-dosage-container .details-header {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .medical-dosage-container .details-header .name-container {
        width: 50%;
    }

    .medical-dosage-container .details-header .timing {
        width: 20%;
    }

    .medical-dosage-container .details-header .Day {
        width: 16%;
    }

    .medical-dosage-container .details-header .status {
        width: 10%;
    }

    .profile-container h2 {
        font-size: 15px;
    }

    .profile-picture {
        width: 30px;
        height: 30px;
    }

    .Logo {
        font-size: 25px;
    }

    .navigations>h3 {
        font-size: 15px;
    }

    .navigations .nav-menu {
        font-size: 12px;
        padding: 8px;
    }
}

@media only screen and (max-width: 540px) {
    .container {
        gap: 10px;
    }

    .sidebar {
        display: none;
    }

    .main-content {
        width: 85%;
        border-radius: 25px;
        padding: 15px;
    }

    .mobile-menu-siderbar {
        width: 15%;
        background-color: #F0F0F0;
        border-radius: 25px;
        display: block;
    }

    .medical-dosage-container .header-content h2 {
        font-size: 15px;
        display: none;
    }

    .mobile-menu-siderbar {
        padding: 10px;
        padding-top: 50px;
    }

    .mobile-menu-siderbar div {
        margin-bottom: 40px;
    }

    .mobile-menu-siderbar div img {
        width: 100%;
    }

    .mobile-nav-menu {
        padding: 5px;
    }

    .mobile-nav-menu.active {
        background: linear-gradient(10deg, rgba(95, 214, 222, 1) 0%, rgba(95, 214, 222, 0.7931547619047619) 48%);
        border-radius: 5px;
    }


    .medical-dosage-container {
        padding: 18px;
    }

    .medical-dosage-container .details-header .timing {
        width: 25%;
    }

    .medical-dosage-container .details-header .name-container {
        width: 44%;
    }

    .popup {
        width: 85%;
        height: 87%;
    }

    .SubmitPopup {
        text-align: center;
        width: 86%;
        height: 38%;
    }

    .main-content .health-vitals-container h2 {
        font-size: 23px;
        margin-bottom: 10px;
        margin-left: 0px;
    }

    #AddHealthVitals {
        background-color: black;
        color: white;
        padding: 6px;
        border-radius: 25px;
        cursor: alias;
        font-size: 11px;
        margin-bottom: 10px;
    }

}