* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f7f7;
}


.nav-menu a {
    text-decoration: none;
    color: black;
}


.liveTimer {
    position: fixed;
    background-color: black;
    padding: 10px 20px;
    bottom: 0%;
    right: 0%;
    border-top-left-radius: 25px;
    color: white;
    font-weight: 600;
}

.container {
    height: 100vh;
    width: 95%;
    margin: auto;
    padding: 20px 0px;
    display: flex;
    gap: 50px;
}

a{
    text-decoration: none;
    color: black;
}

.sidebar {
    width: 23%;
    position: relative;
    height: 100%;
}

.logo_container {
    height: 60px;
}

.Logo {
    font-size: 40px;
}

.navigations>h3 {
    font-size: 25px;
}

.navigations nav {
    margin-top: 10px;
}

.navigations .nav-menu {
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.navigations .nav-menu:hover {
    background: linear-gradient(to right bottom, #5FD6DE, #5FD6DE38);
    padding: 10px;
    padding-left: 15px;
    /* Slightly increase padding on hover for a smoother effect */
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.nav-menu img {
    width: 20px;
}

nav .active {
    background: linear-gradient(to right bottom, #5FD6DE, #5FD6DE38);
    padding: 10px;
    border-radius: 10px;
}

.profile-container {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.profile-picture {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-container>div {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 13px;
}

.profile-container button {
    margin-top: 15px;
}

.btn {
    background: linear-gradient(to right bottom, #5FD6DE, #5FD6DE38);
    border: none;
    border-radius: 25px;
    width: 80%;
    margin: auto;
    height: 35px;
    font-size: 18px;
    cursor: pointer;
}

.nav-menu a {
    text-decoration: none;
    color: black;
}

/* Main Container Stats */

.main-content {
    background: linear-gradient(to right bottom, #5FD6DE, #5FD6DE38);
    height: 100%;
    width: 80%;
    border-radius: 50px;
    padding: 30px;
}

.main-content>h2 {
    font-size: 40px;
}

.medical-dosage-container {
    width: 98%;
    height: 85%;
    background-color: white;
    margin: auto;
    border-radius: 30px;
    margin-top: 50px;
    padding: 30px;
    overflow: hidden;
}

.medical-dosage-container .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.medical-dosage-container .header-content h2 {
    margin-right: 30px;
}

.medical-dosage-container .header-content .search {
    display: flex;
    align-items: center;
    gap: 9px;
    background-color: #F0F0F0;
    padding-left: 10px;
    border-radius: 10px;
    width: 30%;
    margin-right: 30px;
}

.medical-dosage-container .header-content .search input {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 25px;
}

.medical-dosage-container .header-content .search input:focus {
    outline: none;
}

.medical-dosage-container .header-content button {
    width: fit-content;
    font-size: 15px;
    height: fit-content;
    padding: 5px 10px;
    margin: 0px;
}

.medical-dosage-container .header-content p img {
    width: 10px;
}

.medical-dosage-container .details-header {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    width: 90%;
    margin-top: 15px;
}

.medical-dosage-container .details-continaer {
    overflow-y: scroll;
    height: 85%;
}

.rescheduleIcon {
    width: 20px;
    display: none;
}

.medical-dosage-container .details-continaer::-webkit-scrollbar {
    width: 5px;
}

.medical-dosage-container .details-continaer::-webkit-scrollbar-thumb {
    background: linear-gradient(10deg, rgba(95, 214, 222, 1) 0%, rgba(95, 214, 222, 0.7931547619047619) 48%);
    border-radius: 25px;
}


.medical-dosage-container .details-header .name-container {
    width: 60%;
}

.medical-dosage-container .details-header .reff {
    width: 15%;
}

.medical-dosage-container .details-header .Day {
    width: 20%;
}

.medical-dosage-container .details-header .timing {
    width: 20%;
}

.medical-dosage-container .details-header .status {
    width: 20%;
}

.medical-dosage-container .border {
    margin-top: 5px;
}

/* Popup CSS */
.popup-container {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.788);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.popup-container.active {
    visibility: visible;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.popup {
    width: 40%;
    height: 80%;
    background-color: white;
    border-radius: 25px;
    padding: 30px;
}

.form-controls {
    margin-top: 20px;
    width: 100%;
}

.form-controls input {
    width: 100%;
    height: 40px;
    margin: 10px 0px;
    padding: 0px 10px;
    background-color: #F0F0F0;
    border: none;
    border-radius: 10px;
}

.form-controls textarea {
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #F0F0F0;
    border: none;
    border-radius: 10px;
}

.form-controls button {
    width: 100px;
    padding: 5px 0px;
    background: linear-gradient(10deg, rgba(95, 214, 222, 1) 0%, rgba(95, 214, 222, 0.7931547619047619) 48%);
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
}

.submit-container {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.644);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.submit-container.active {
    visibility: visible;
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

.SubmitPopup {
    width: 50%;
    height: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 25px;

}

.SubmitPopup img {
    width: 100px;
    margin-bottom: 20px;
}

#close {
    position: absolute;
    width: 15px;
    top: 8%;
    right: 5%;
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    height: 100%;
}


/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Mobile Navigatoin */
.mobile-menu-siderbar {
    display: none;
}

@media only screen and (max-width: 1200px) {
    /* .medical-dosage-container .details-continaer {
        height: 85%;
    } */

    .Logo {
        font-size: 30px;
    }

    .logo_container {
        height: 42px;
    }

    .navigations .nav-menu {
        padding: 10px 15px;
    }

    .navigations .nav-menu {
        font-size: 16px;
    }

    .navigations>h3 {
        font-size: 20px;
    }

    .profile-container>div {
        font-size: 12px;
    }

    .medical-dosage-container .header-content h2 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 992px) {
    /* .medical-dosage-container .details-continaer {
        height: 250px;
    } */

    .medical-dosage-container .header-content h2 {
        font-size: 15px;
    }

    .medical-dosage-container .header-content .search input {
        height: 20px;
    }

    .main-content>h2 {
        font-size: 30px;
    }

    .medical-dosage-container {
        margin-top: 25px;
    }

    .medical-dosage-container .header-content button {
        width: fit-content;
        font-size: 12px;
        height: fit-content;
        padding: 5px 10px;
    }

    .navigations .nav-menu {
        font-size: 17px;
        cursor: pointer;
        padding: 10px;
    }

    .profile-picture {
        width: 40px;
        height: 40px;
    }

    .profile-container h2 {
        font-size: 20px;
    }

    .profile-container>div {
        gap: 10px;
    }

    .name-container p,
    .reff p,
    .timing p,
    .Day p,
    .status p {
        font-size: 13px;
    }

    .name-container h3,
    .reff h3,
    .timing h3,
    .Day h3,
    .status h3 {
        font-size: 16px;
    }

    .profile-picture {
        width: 40px;
        height: 40px;
    }

    .btn {
        background: linear-gradient(to right bottom, #5FD6DE, #5FD6DE38);
        border: none;
        border-radius: 25px;
        width: 80%;
        margin: auto;
        height: 27px;
        font-size: 15px;
        cursor: pointer;
    }

    .profile-container h2 {
        font-size: 20px;
    }

    .profile-container>div {
        gap: 10px;
    }

    .navigations .nav-menu {
        font-size: 15px;
    }
}

@media only screen and (max-width: 768px) {
    .editbtns {
        display: block;
    }

    .rescheduleIcon {
        display: block;
    }

    .main-content>h2 {
        font-size: 25px;
    }

    .medical-dosage-container .header-content .search {
        display: none;
    }

    .reff {
        display: block;
    }

    .name-container h3,
    .timing h3,
    .Day h3,
    .status h3 {
        font-size: 16px;
    }

    .medical-dosage-container .details-header {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .medical-dosage-container .details-header .name-container {
        width: 50%;
    }

    .medical-dosage-container .details-header .timing {
        width: 20%;
    }

    .medical-dosage-container .details-header .Day {
        width: 16%;
    }

    .medical-dosage-container .details-header .status {
        width: 10%;
    }

    .profile-container h2 {
        font-size: 15px;
    }

    .profile-picture {
        width: 30px;
        height: 30px;
    }

    .Logo {
        font-size: 25px;
    }

    .navigations>h3 {
        font-size: 15px;
    }

    .navigations .nav-menu {
        font-size: 12px;
        padding: 8px;
    }

}

@media only screen and (max-width: 540px) {
    .container {
        gap: 10px;
    }

    .sidebar {
        display: none;
    }

    .main-content {
        width: 85%;
        border-radius: 25px;
        padding: 15px;
    }

    .mobile-menu-siderbar {
        width: 15%;
        background-color: #F0F0F0;
        border-radius: 25px;
        display: block;
    }

    .medical-dosage-container .header-content h2 {
        font-size: 15px;
        display: none;
    }

    .mobile-menu-siderbar {
        padding: 10px;
        padding-top: 50px;
    }

    .mobile-menu-siderbar div {
        margin-bottom: 40px;
    }

    .mobile-menu-siderbar div img {
        width: 100%;
    }

    .mobile-nav-menu {
        padding: 5px;
    }

    .mobile-nav-menu.active {
        background: linear-gradient(10deg, rgba(95, 214, 222, 1) 0%, rgba(95, 214, 222, 0.7931547619047619) 48%);
        border-radius: 5px;
    }


    .medical-dosage-container {
        padding: 18px;
    }

    .medical-dosage-container .details-header .timing {
        width: 25%;
    }

    .medical-dosage-container .details-header .name-container {
        width: 44%;
    }

    .popup {
        width: 85%;
        height: 87%;
    }

    .SubmitPopup {
        text-align: center;
        width: 86%;
        height: 38%;
    }

    .medical-dosage-container .details-header .Day {
        width: 40%;
    }

    .reff {
        display: none;
    }

    .medical-dosage-container .details-header .name-container {
        width: 60%;
    }
}